# Python cache
__pycache__/
*.py[cod]
*$py.class

# Директори кешу
cache/
*.pkl.xz

# Логи
logs/
*.log

# Налаштування середовища IDE/редакторів
.vscode/
.idea/

# Файли середовища
.env
env/
venv/
ENV/

# Excel файли вихідні/тимчасові
*.xlsx
*.xls
*.csv

# Файли налаштувань проєкту
settings.json
*.json

# Build та дистрибутиви
build_exe.spec
dist/
build/

# Схеми IDE/редакторів
*.sublime-project
*.sublime-workspace

# Інші тимчасові файли
*.bak
*.tmp

# Мак ОС файли
.DS_Store

# Windows thumbnail cache files
Thumbs.db
